node_modules/
npm-debug.log
yarn-error.log

dist/
build/
out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

typings/

.npm

.eslintcache

.node_repl_history

logs
*.log

.docker

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db